{
  "openapi": "3.0.1",
  "info": {
    "title": "Younium API (production-westeurope)",
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://api.younium.com"
    }
  ],
  "paths": {
    "/Accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account by id.",
        "description": "Requires permission *Account View*.",
        "operationId": "get-accounts-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Edit Account",
        "description": "",
        "operationId": "patch-accounts-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Accounts.",
        "description": "Requires permission *Account View*.",
        "operationId": "get-accounts",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Filter is also applied on sub entities: 'customFields' and 'addresses'",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create Account",
        "operationId": "post-accounts",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-durationInHours",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAccountRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/OnlinePaymentDetails/{id}": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create OnlinePaymentDetails for Account",
        "description": "",
        "operationId": "post-accounts-onlinepaymentdetails-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-durationInHours",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OnlinePaymentDetailsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          },
          "201": {
            "description": "The OnlineDetailsPayment for the request."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Edit OnlinePaymentDetails on Account",
        "description": "",
        "operationId": "patch-accounts-onlinepaymentdetails-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/OnlinePaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete OnlinePaymentDetails on Account",
        "description": "",
        "operationId": "delete-accounts-onlinepaymentdetails-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{id}/RequestPaymentDetails/GoCardless": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Request payment details for Go cardless.",
        "operationId": "post-accounts-id-requestpaymentdetails-gocardless",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Mandate request details",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GoCardlessMandateApiRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoCardlessMandateStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{accountId}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete Account",
        "description": "",
        "operationId": "delete-accounts-accountid",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The identifier of the account",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{id}/Subscriptions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account subscriptions.",
        "operationId": "get-accounts-id-subscriptions",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Filter is also applied on sub entities: 'orderProducts', 'orderCharges', 'chargeDetails', 'orderDiscounts', 'milestones' and 'customFields' on these entities",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{id}/Invoices": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account invoices.",
        "operationId": "get-accounts-id-invoices",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Filter is also applied on sub entities: 'invoiceLines' and 'customFields' on these entities",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mappedResponseFlag",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{id}/SalesOrders": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account SalesOrders.",
        "operationId": "get-accounts-id-salesorders",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Filter is also applied on sub entities: 'orderProducts', 'orderCharges', 'chargeDetails', 'orderDiscounts', 'milestones' and 'customFields' on these entities",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrderResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Accounts/{id}/Summary": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Summery and invoicing metrics for account.",
        "operationId": "get-accounts-id-summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Bookings/{id}": {
      "patch": {
        "tags": [
          "Bookings"
        ],
        "operationId": "patch-bookings-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-durationInHours",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateBookingRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get Bookings by Id",
        "operationId": "get-bookings-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get Bookings",
        "operationId": "get-bookings",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Filter is also applied on sub entities: 'bookingLines'",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/ChartOfAccounts/{id}": {
      "get": {
        "tags": [
          "ChartOfAccounts"
        ],
        "summary": "Get Financial Account by id",
        "operationId": "get-chartofaccounts-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/ChartOfAccounts": {
      "get": {
        "tags": [
          "ChartOfAccounts"
        ],
        "summary": "Get ChartOfAccounts",
        "operationId": "get-chartofaccounts",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Apply a separate filter to only get records that has been modified Before the specified date time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Countries",
        "operationId": "get-countries",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Apply a separate filter to only get records that has been modified Before the specified date time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Countries/{id}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Countries by Id",
        "operationId": "get-countries-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Currency/BaseCurrency": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "operationId": "get-currency-basecurrency",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Currency": {
      "post": {
        "tags": [
          "Currencies"
        ],
        "summary": "Create Currency",
        "operationId": "post-currency",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-durationInHours",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateCurrencyRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get Currency",
        "operationId": "get-currency",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Apply a separate filter to only get records that has been modified Before the specified date time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/Currency/{id}": {
      "delete": {
        "tags": [
          "Currencies"
        ],
        "summary": "Delete Currency.",
        "operationId": "delete-currency-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get Currency by Id",
        "operationId": "get-currency-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/CustomFieldConfigurations": {
      "get": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Get CustomFieldConfigurations",
        "operationId": "get-customfieldconfigurations",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Apply a separate filter to only get records that has been modified Before the specified date time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldConfigurationResponseListPagedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Create CustomFieldConfiguration",
        "operationId": "post-customfieldconfigurations",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "younium-idempotency-durationInHours",
            "in": "header",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateCustomFieldConfigurationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          },
          "201": {
            "description": "The CustumFieldConfiguration for the request."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/CustomFieldConfigurations/{id}": {
      "get": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Get CustomFieldConfiguration by Id",
        "operationId": "get-customfieldconfigurations-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldConfigurationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Update CustomFieldConfiguration by Id",
        "operationId": "patch-customfieldconfigurations-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateCustomFieldConfigurationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/CustomFieldConfigurations/{entity}/{key}": {
      "get": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Get CustomFieldConfiguration by Entity and Key",
        "operationId": "get-customfieldconfigurations-entity-key",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldConfigurationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CustomFieldsController"
        ],
        "summary": "Update CustomFieldConfiguration by Entity and key.",
        "operationId": "patch-customfieldconfigurations-entity-key",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateCustomFieldConfigurationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/DocumentTemplate/{id}": {
      "get": {
        "tags": [
          "DocumentTemplates"
        ],
        "summary": "Get DocumentTemplate by id",
        "operationId": "get-documenttemplate-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    },
                    "errors": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": { }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "youniumapi"
            ]
          }
        ]
      }
    },
    "/DocumentTemplate": {
      "get": {
        "tags": [
          "DocumentTemplates"
        ],
        "summary": "Get DocumentTemplate",
        "operationId": "get-documenttemplate",
        "parameters": [
          {
            "name": "Filter",
            "in": "query",
            "description": "Filter the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "name eq 'Adam' and age gt 20"
            },
            "example": "name eq 'Adam' and age gt 20"
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Sorting the results. See developer resources for more information",
            "schema": {
              "type": "string",
              "example": "accountNumber Desc"
            },
            "example": "accountNumber Desc"
          },
          {
            "name": "ModifiedAfter",
            "in": "query",
            "description": "Apply a separate modified After filter. See 'ModifiedBefore' filter for further details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "ModifiedBefore",
            "in": "query",
            "description": "Apply a separate filter to only get records that has been modified Before the specified date time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-04-01"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page Size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 20
            },
            "example": 20
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Page Number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            },
            "example": 1
          },
          {
            "name": "api-version",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
[...]
